section.section.section_hero
	.section_hero__wave.bottomWave
		+picture({
			class: 'hero_section_img',
			customClass: 'hero_section_img__in',
			png: true,
			img: 'hero_wave',
		})
	.section_in
		.section_hero__row 
			.section_hero__column
				.section_hero__content
					+head_block({
						mod: 'hero',
						title: 'We provide easy solution to exchange your ',
						title_bold: 'Bitcoin/ GiftCard for money',
						text: 'CoinBase is a platform for trading your bitcoin and giftcard at the best rate, why not give us a trial.',
						btn: 'GET STARTED',
					})
			.section_hero__column
				.section_hero__phone
					+picture({
						class: 'section_hero__phone_img',
						customClass: 'section_hero__phone_img__in',
						png: true,
						img: '01',
					})