section.section.section_trade
	.section_trade__wave 
		+picture({
			class: 'section_trade_img',
			customClass: 'section_trade_img__in',
			png: true,
			img: 'wave_3',
		})
	.section_in 
		.section_trade__wrap 
			.section_trade__block 
				.section_trade__head 
					+head_block({
							title: 'Trade from anywhere',
							content_mod: 'center',
						})
				ul.section_trade__list 
					li.section_trade__item 
						a.section_trade__link(href="#")
							.section_trade__icon 
								img.section_trade__icon_img(src="images/btc.svg", alt="bitcoin icon")
							.section_trade__name Bitcoin
					li.section_trade__item 
						a.section_trade__link(href="#")
							.section_trade__icon 
								img.section_trade__icon_img(src="images/card.svg", alt="card icon")
							.section_trade__name Gift Cards
