section.section.section_reviews
	.section_in 
		.section_reviews__content 
			.section_reviews__head 
				+head_block({
					title: '10,000 Satisfied clients around the world',
					content_mod: 'center',
					color_mod: 'white',
					text: 'Yeah! we’re proud with numbers. We’ve helped thousands of clients all around the world with our bespoke service. Hover ontop of them pic to view their testimonials.',
				})
			