-
	nav = [
		{
			text: 'Home',
			link: 'section_hero',
		},
		{
			text: 'About Us',
			link: 'section_info',
		},
		{
			text: 'Blog',
			link: 'section_blog',
		},
		{
			text: 'Contact Us',
			link: 'section_subscribe',
		},
		];
	sublist = ['Sell Bitcoin','Sell Giftcard',];

mixin header
	header.header
		.header__wrapper
			.header_in
				.header__logo
					a.header__logo_link(href="/index.html")
							img.header__logo_img(src="images/logo_colorful.svg", alt="Header logo")
							img.header__logo_img.header__logo_img--white(src="images/logo_white.svg", alt="Header logo")
				.header__actions
					.header__body
						nav.header_menu
							ul.header_menu__list 
								each link in nav
									li.header_menu__item 
										a.header_menu__link.gotoBlock(href=`#${link.link}`)= link.text
						.header_sublist.subList.spollerItem
							.header_sublist__title.spollerTitle Sell Bitcoin/ Giftcard
							.header_sublist__body
									if (sublist)
										ul.header_sublist__list
											each sublink in sublist 
												li.header_sublist__item 
													a.header_sublist__link(href="#")= sublink
						.header__button.btn_base login
					.header__button.header__button--clone.btn_base login
					.header__icon.iconMenu
						span.iconMenu_in