mixin section_info(data)
	- direction = data.direction? data.direction : 'normal';

	section.section.section_info(class=`section_info--${direction}`)
		.section_in
			.section_info__row
				.section_info__column
					.section_info__content
						+head_block({
							max_width: data.max_width,
							title: data.title,
							text: data.text,
							btn: data.btn,
						})
				.section_info__column
					.section_info__picture.infoPic
						+picture({
							class: 'section_info_img',
							customClass: 'section_info_img__in',
							png: true,
							img: data.img,
						})