//---------------------------------------------sections
.section {
	position: relative;

	width: 100%;

	@include bp($point_2, min) {
		padding: 12rem var(--gl-indent);
	}

	@include bp($point_3) {
		padding: 6rem var(--gl-indent);
	}
}

.section_in {
	position: relative;
	z-index: 3;

	max-width: $page_width;
	width: 100%;
	margin: 0 auto;
}
