extends ../layout/_layout

block vars
	- array = {body_class:'', layout_mod:'', sub_keywords:'', title_inner:'Index'}
block content_block
	include ../blocks/section_hero
	+section_info({
		direction: 'reverse',
		title: 'Welcome to CoinBase',
		text: 'We have the best rates . Simply start your exchange right now. Sign up for our Affiliate program and earn commission from each exchange. The earnings are credited in your account instantly and can be withdrawn right away. Also note some exchange directions are hidden for unregistered user. To ensure to have access to all our exchange directions and benefits kindly sign up and verify your identity.',
		btn: 'DISCOVER',
		img: '02',
	})
	include ../blocks/section_table
	+section_info({
		max_width: true,
		title: 'Great experience with CoinBase',
		text: 'CoinBase is an online site and a p2admin platform that allows users to buy, sell and/ or exchange digital and fiat assets safely. Owned and managed by CoinBase Business Services established and Incoperated in Nigeria.',
		btn: 'DISCOVER',
		img: '03',
	})
	include ../blocks/section_trade
	include ../blocks/section_blog
	include ../blocks/section_reviews
	include ../blocks/section_app
	include ../blocks/section_subscribe
