// scroll ========================================================================================================================================================
::-webkit-scrollbar {
	width: 1.4rem;
}
::-webkit-scrollbar-track {
	background: $gradient;
	box-shadow: 0 0 0.4rem 0 rgba($black, 0.5) inset;
}
::-webkit-scrollbar-thumb {
	background-color: rgba($white, 0.6);
}
//------------------------------------------------------------base styles
:root {
	--full-screen: calc(var(--vh, 1vh) * 100);

	--height-header: 15.8rem;
	--height-header-mobile: 7.6rem;
	--height-footer: 10rem;
	--gl-indent: 1.6rem;
}

html {
	height: 100%;
	font: 400 10px $font_1;
}

body {
	position: relative;

	display: flex;
	height: 100%;

	font-size: $font_size_base;
	color: $color_text_base;

	-webkit-text-size-adjust: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	background: $body_bg;

	@supports (display: grid) {
		display: block;
	}

	.pageLock & {
		overflow: hidden;
		touch-action: none;
	}

	// Page load animation
	opacity: 0;
	transition: all 1s ease 0s;
	will-change: transition;

	@include bp($point_2, min) {
		.head_block--hero {
			.head_block__title {
				opacity: 0;
				transform: translate(0, 10%);

				transition: opacity 0.8s ease 0.5s, transform 0.8s ease 0.5s;
			}
			.head_block__text {
				opacity: 0;
				transform: translate(0, 20%);

				transition: opacity 0.8s ease 1s, transform 0.8s ease 1s;
			}
			.head_block__footer {
				opacity: 0;
				transform: translate(0, 30%);

				transition: opacity 0.8s ease 1.4s, transform 0.8s ease 1.4s;
			}
		}

		.section_hero__phone {
			opacity: 0;
			transform: translate(0, 20%);

			transition: opacity 1.7s ease 0.5s, transform 1.7s ease 0.5s;
		}

		.pageLoaded & {
			.head_block--hero {
				.head_block__title,
				.head_block__text,
				.head_block__footer {
					opacity: 1;
					transform: translate(0, 0);
				}
			}

			.section_hero__phone {
				opacity: 1;
				transform: translate(0, 0);
			}
		}
	}

	.pageLoaded & {
		opacity: 1;
	}
}

.wrapper {
	position: relative;

	width: 100%;
	display: flex;
	flex-direction: column;
	min-height: 100%;
	height: auto !important;

	overflow-x: hidden;
}

.base {
	width: 100%;
	position: relative;

	flex: 1 0 auto;
}

a {
	text-decoration: none;
	color: $color_link_base;
}

.elements_list {
	padding: 3rem;
}

//------------------------------------------------------------base styles###
